body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
<<<<<<<< HEAD:src/style/login.css
    background-image: url("../../public/img/jean.jpg");
    background-size: cover;
========
    background-image: url("../../public/assets/images/jean.jpg");;
>>>>>>>> main:src/styles/login.css
}

.loginForm {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    width: 450px;
    background-color: #F8F8F8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: red;
}

button {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: red;
}

.header-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-form h1 {
    margin-right: 10px;
}

.header-form img {
    width: 25%;
    height: auto;
    justify-content: end;
}


/* Responsive styling */
@media only screen and (max-width: 600px) and (min-width: 320px) {
    input, button {
        padding: 8px;
    }
    body {
        font-size: 14px;
    }
    button {
        padding: 8px;
    }
    .container {
        flex-direction: column;
        background-size: cover;
        padding: 10px;
    }
    .signUpForm {
        width: 80%;
    }
}
