:root {
    --font-family-primary: 'TN Web Use Only', sans-serif;
    --font-family-secondary: 'Helvetica Now', sans-serif;
    --font-size-basic: 16px;
    --main-color: black;
    --secondary-color: #6E6E6E;
    --important-color: #C41320;
    --valid-color: green;
    --max-container-width: 1280px;
    --padding-container: 0 1.5rem;
    --button-padding: 13px 26px;
}

body {
    z-index: 0;
    margin: 0;
    font-family: var(--font-family-secondary);
    color: var(--main-color);
}

.container {
    max-width: var(--max-container-width);
    padding: var(--padding-container);
    position: relative;
    margin-left: auto !important;
    margin-right: auto !important;
}

footer .container {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-family: TN Web Use, sans-serif;
    font-weight: 800;
}

a,p,div {
    text-decoration: none;
    color: inherit;
    font-family: Helvetica Now, sans-serif;
}


h2 {
    text-align: center;
}

span {
    color: var(--main-color);
    font-size: var(--font-size-basic);
    font-style: normal;
    font-weight: bold;
    line-height: 20px; /* 125% */
    letter-spacing: 0.32px;
}

section {
    margin-bottom: 22px;
    padding-bottom: 22px;
}

input {
    width: 100%;
    display: flex;
    padding: 0 0 10px 0;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
}

.text-important {
    color: var(--important-color);
}

.text-secondary {
    color: var(--secondary-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}

.text-valid{
    color: var(--valid-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}


.shop-product-grid .product img, .categories-highlight img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.categories-highlight img,  .shop-product-grid .product img, .categories-highlight img  {
    object-position: top;
}

.btn {
    padding: 13px 26px;
    margin-top: 16px;
    min-width: 120px;
}

.btn.semi-white {
    border: 1px solid white;
}

.btn.white{
    background: white;
    color: black;
}

.btn.black {
    background: black;
    color: white;
}

.btn.semi-black {
    border: 1px solid black;
}

.btn.dark-blue {
    background: rgb(7, 11, 33);
    color:white;
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    opacity: 0;
}

.block {
    display: block;
}

.opacity-animation {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

nav {
    top: 0;
    display: flex;
    align-items: center;
    position: relative;
    padding: 1.5rem;
}

.navbar-icons {
    z-index: 80;
}

.navbar-icons> img {
    height: 18px;
    width: 18px;
    cursor: pointer;
}



.navbar-icons>img:not(:last-child) {
    margin-right: 1.5rem;
}

.newsletter-promotion-container {
    padding: 46px;
    color: white;
    background: lightgray url("../../public/assets/images/newsletter-promotion-bg.webp") no-repeat bottom left;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer {
    background: #F3F3F3;
}

footer h2 {
    text-align: left;
    margin: 0;
}

footer form, footer button {
    width: 100% !important;
}

.footer-links {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer-links>* {
    color: #6E6E6E;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.footer-social {
    display: flex;
    align-items: center;
    margin-top: 32px;
}

.footer-social>* {
    margin-right: 20px;
}


@media screen and (min-width:768px) {

    .hamburger {
        display: none;
    }

    .navbar-icons {
        margin-left: auto;
    }

    nav > *:nth-child(-n+2){
        margin-right: 32px !important;
    }

    nav img {
        order: 1;
    }

    nav .menu {
        order: 2
    }

    nav .navbar-icons {
        order: 3;
    }

    .menu-links> a,  nav .logo{
        margin-right: 32px;
    }

    .newsletter {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        gap: 58px;
    }

    footer form {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap:64px;
    }

    footer input {
        width: unset;
    }

    footer .conditions {
        display: none;
    }

    footer {
        padding: 76px;
    }
}

@media screen and (max-width:768px) {

    h2 {
        text-align: center;
        font-size: 31.5px;
        font-style: normal;
        font-weight: 800;
        line-height: 32px; /* 101.587% */
        letter-spacing: 0.64px;
        text-transform: uppercase;
    }

    nav {
        width: unset;
        display: flex;
        justify-content: space-between;
    }

    .menu {
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        top:0;
    }

    .menu.inactive{
        opacity: 0;
        background-color: white;
    }

    .menu.active {
        opacity: 1;
        background-color: white;
    }

    .menu-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hamburger {
        z-index: 999;
        position: relative;
        height : 11px !important;
        width: 29px !important;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
    }

    .hamburger::before,
    .hamburger::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: black;
        transform-origin: center;
        transition: transform 0.3s ease-in-out;
    }

    .hamburger::before {
        top: 0;
        transform: translateY(0) rotate(0);
    }

    .hamburger::after {
        bottom: 0;
        transform: translateY(0) rotate(0);
    }

    .hamburger.active::before {
        transform: rotate(-45deg) translateY(5px);
    }

    .hamburger.active::after {
        transform: rotate(45deg) translateY(-5px);
    }

    footer form {
        margin-top: 56px;
    }

    footer form > * {
        margin-bottom: 20px;
    }

    footer {
        padding: 36px !important;
    }

}