.cart-status {
   display: flex;
    justify-content: space-between;
}

.payments-method {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.payments-method>* {
    text-align: center;
}

.payment {
    display: flex;
    flex-direction: column;
}

.btn {
    text-align: center;
}

.product-details {
    padding: 24px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
}