:root {
    --font-family-primary: 'TN Web Use Only', sans-serif;
    --font-family-secondary: 'Helvetica Now Text', sans-serif;
    --main-color: black;
    --secondary-color: #6E6E6E;
    --important-color: #C41320;
    --max-container-width: 1280px;
    --padding-container: 0 1.5rem;
    --button-padding: 13px 26px;
}

body {
    z-index: 0;
    margin: 0;
    font-family: var(--font-family-secondary);
    color: var(--main-color);
}

.container {
    max-width: var(--max-container-width);
    padding: var(--padding-container);
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: TN Web Use Only, sans-serif;
    font-weight: 800;
}

a,p,div {
    text-decoration: none;
    color: inherit;
    font-family: Helvetica Now, sans-serif;
}



h2 {
    text-align: center;
}

span {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 20px; /* 125% */
    letter-spacing: 0.32px;
    text-transform: uppercase;
}

section {
    padding: 16px;
    margin-bottom: 44px;
}

input {
    width: 100%;
    display: flex;
    padding: 0 0 10px 0;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
}

.text-important {
    color: var(--important-color);
}

.text-secondary {
    color: var(--secondary-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}

.carousel-container {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    color: white
}

.carousel-item {
    width: 100%;
    overflow: hidden;
    opacity: 0;
    position: absolute;
}

.carousel-item img, .primary-category-display-container img, .secondary-category-display-container img, .shop-product-grid .product img, .categories-highlight img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.categories-highlight img,  .shop-product-grid .product img, .categories-highlight img  {
    object-position: top;
}

.carousel-btn {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    height:25px;
    width: 100%;
}

.carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    z-index: 9;
    width: 100%;
    text-align: center;
}

.left-button, .right-button {
    width: 32px;
    height: 32px;
    background-color:rgba(0,0,0,0.5);;
    cursor: pointer;
    border-radius: 50%;
    padding: 4px;
}

.left-button {
    margin-left: 10px;
}

.right-button {
    margin-right:10px;
}

.btn {
    padding: 13px 26px;
    margin-top: 16px;
    min-width: 120px;
}

.btn.semi-white {
    border: 1px solid white;
}

.btn.white{
    background: white;
    color: black;
}

.btn.black {
    background: black;
    color: white;
}

.btn.semi-black {
    border: 1px solid black;
}

.btn.dark-blue {
    background: rgb(7, 11, 33);
    color:white;
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    opacity: 0;
}

.block {
    display: block;
}

.opacity-animation {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

nav {
    top: 0;
    display: flex;
    position: relative;
    padding: 1.5rem;
}

.navbar-icons> img {
    height: 18px;
    width: 18px;
    cursor: pointer;
}



.navbar-icons>img:not(:last-child) {
    margin-right: 1.5rem;
}

.primary-category-display-container {
    height: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.primary-category-display-container>div {
    position: relative;
    max-height: 400px;
}

.primary-category-display-container .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px; /* Ajoutez un padding horizontal de 20px, par exemple */
    text-align: center; /* Centrez le contenu horizontalement */
    color: white; /* Pour une meilleure lisibilité, assurez-vous que le texte est visible sur l'image */
    z-index: 1; /* Pour placer le contenu au-dessus de l'image */
    width: calc(100% - 60px); /* Largeur de 100% moins le double du padding horizontal */
    max-width: calc(100% - 60px); /* Assurez-vous que la largeur n'excède pas la taille de l'image */
    box-sizing: border-box; /* Inclure le padding dans la largeur totale */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secondary-category-display-container p {
    text-align: center;
}

.secondary-category-display-container {
    margin-top: 48px;
    margin-bottom: 48px;
}

.secondary-category-display-container .product div{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.secondary-category-display-container img {
    max-height: 300px;
    max-width: 230px;
}

.secondary-category-display-container .product-img {
    height: 290px;
}

.secondary-category-display-container .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
}

.newsletter-promotion-container {
    padding: 46px;
    color: white;
    background: lightgray url("../assets/images/newsletter-promotion-bg.jpeg") no-repeat bottom left;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer {
    background: #F3F3F3;
}

footer h2 {
    text-align: left;
}

footer form, footer button {
    width: 100% !important;
}

.footer-links {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer-links>* {
    color: #6E6E6E;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.footer-social {
    display: flex;
    align-items: center;
    margin-top: 32px;
}

.footer-social>* {
    margin-right: 20px;
}

.shop-header {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 56px;
}

.breadcrumb {
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadcrumb>* {
    margin-right: 10px;
}

.breadcrumb>*:last-child{
    font-weight: bold;
}

footer h2 {
    margin: 0
}

.image-container {
    margin-bottom: 20px;
}

.categories-highlight {
    display: grid;
    gap: 16px;
}

.filter-section {
    display: flex;
    margin-bottom: 20px !important;
}

.shop-product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 56px 16px;
}

.shop-product-grid .text-important {
    margin-top: 16px;
}

.shop-product-grid .text-secondary {
    margin-bottom: 16px;
}

.shop-product-grid .promotional-text {
    margin-top: 12px !important;
}

.products {
    display: grid;
}

.filter-section form>div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.filter-section form{
    font-size: 14px;
}


.filter-section form input{
    width: 16px;
    margin-right: 8px;
}

.filter-section .filter-title {
    font-weight: bold;
    margin-bottom: 32px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}



.filter-section .stock {
    color: var(--secondary-color);

    margin-left: 10px;
}



@media screen and (min-width:768px) {


    .hamburger {
        display: none;
    }

    .navbar-icons {
        margin-left: auto;
    }

    nav > *:nth-child(-n+2){
        margin-right: 32px !important;
    }

    nav img {
        order: 1;
    }

    nav .menu {
        order: 2
    }

    nav .navbar-icons {
        order: 3;
    }

    .menu-links> a,  nav .logo{
        margin-right: 32px;
    }

    .carousel-container, .carousel-item {
        height: 600px;
    }

    .secondary-category-display-container .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .newsletter {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        gap: 58px;
    }

    footer form {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap:64px;
    }

    footer input {
        width: unset;
    }

    footer .conditions {
        display: none;
    }

    footer {
        padding: 76px;
    }

    .categories-highlight {
        grid-template-columns: repeat(4, 1fr);
    }

    .filter-section {
        flex-direction: column;
        gap: 32px;
    }

    .image-container {
        height: 420px;
    }

    .products {
        grid-template-columns: 260px 1fr;
    }

    .products>*:first-child {
        padding-right: 64px
    }


}






@media screen and (max-width:768px) {

    h2 {
        text-align: center;
        font-size: 31.5px;
        font-style: normal;
        font-weight: 800;
        line-height: 32px; /* 101.587% */
        letter-spacing: 0.64px;
        text-transform: uppercase;
    }

    nav {
        width: unset;
        display: flex;
        justify-content: space-between;
    }

    .menu {
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        top:0;
    }

    .menu.inactive{
        opacity: 0;
        background-color: white;
    }

    .menu.active {
        opacity: 1;
        background-color: white;
    }

    .menu-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .hamburger {
        z-index: 999;
        position: relative;
        height : 11px !important;
        width: 29px !important;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
    }

    .hamburger::before,
    .hamburger::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: black;
        transform-origin: center;
        transition: transform 0.3s ease-in-out;
    }

    .hamburger::before {
        top: 0;
        transform: translateY(0) rotate(0);
    }

    .hamburger::after {
        bottom: 0;
        transform: translateY(0) rotate(0);
    }

    .hamburger.active::before {
        transform: rotate(-45deg) translateY(5px);
    }

    .hamburger.active::after {
        transform: rotate(45deg) translateY(-5px);
    }

    .primary-category-display-container {
        grid-template-columns: 1fr;
    }

    .primary-category-display-container h2 {
        color: white
    }

    .primary-category-display-container>*:last-child {
        display: none;
    }

    .carousel-container, .carousel-item {
        height: 400px;
    }

    .secondary-category-display-container .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .secondary-category-display-container .product-grid>*:last-child {
        display: none;
    }

    footer form {
        margin-top: 56px;
    }

    footer form > * {
        margin-bottom: 20px;
    }

    footer {
        padding: 36px !important;
    }

    .categories-highlight {
        grid-template-columns: repeat(2, 1fr);
    }

    .categories-highlight>*:nth-child(-n+2) {
        display: none;
    }

    .filter-section {
        justify-content: space-between;
    }

    .image-container {
        height: 240px;
    }

    .filter {
        display: none;
    }

}


